.wrapper {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.player {
    width: 40%;
    height: 500px;
}

.player-title {
    display: table;
    margin: 0 auto;
}

.player-button {
    display: table;
    margin: 0 auto;
}

.player-content {
    padding-right: 10px;
    padding-left: 10px;
    height: 300px;
}

.empty-box {
    width: 20%;
}

.play-button {
    width: 100%;
}
